[submodule "leeao"]
	path = 大李敖全集
	url = git@github.com:aronstonehiggs/leeao.git
[submodule "MaBoYong"]
	path = 马伯庸全集
	url = git@github.com:aronstonehiggs/MaBoYong.git
[submodule "鲁迅全集"]
	path = 鲁迅全集
	url = git@github.com:aronstonehiggs/luxun.git
